---
import { translations } from '@data/translations'

interface Props {
	lang?: string
	button: string
	href?: string
	classNames?: string
	prefix?: string
}

const { button, lang, href, classNames, prefix } = Astro.props as Props

const className = `transition-colors duration-150 relative inline-flex gap-x-2 items-center px-3 py-2 text-sm font-semibold ring-1 ring-inset ring-zinc-300 group focus:z-10 my-4 sm:mb-6 ${classNames}`
---

{
	button === 'back' && (
		<a href={`${href || '/'}`} target='_self' data-astro-prefetch>
			<button class={className} id='back-button'>
				<>
					<span class='group-hover:text-burgundy text-xs sm:text-sm'>←</span>
					<span class='group-hover:text-burgundy inline text-xs sm:text-sm'>{translations.back[lang]}</span>
				</>
			</button>
		</a>
	)
}

{
	button === 'next' && (
		<a href={`${href || '/'}`} target='_self' data-astro-prefetch>
			<button class={className} id='next-button'>
				<>
					<span class='group-hover:text-burgundy text-xs sm:text-sm'>→</span>
					{/* <span class='group-hover:text-burgundy inline text-xs sm:text-sm'>{translations.next[lang]}</span> */}
				</>
			</button>
		</a>
	)
}

{
	button === 'overview' && (
		<a href={`${href || lang === 'ar' ? '/ar' : '/en'}`} target='_self' data-astro-prefetch data-astro-reload>
			<button class={className} id='overview-button'>
				<>
					<span class='group-hover:text-burgundy inline text-xs sm:text-sm'>
						{prefix}
						{translations.allStories[lang]}
					</span>
					{/* <span class='group-hover:text-burgundy text-xs sm:text-sm'>↑</span> */}
				</>
			</button>
		</a>
	)
}

{
	button === 'previous' && (
		<a href={`${href || '/'}`} target='_self' data-astro-prefetch>
			<button class={className} id='prev-button'>
				<>
					<span class='group-hover:text-burgundy text-xs sm:text-sm'>←</span>
					{/* <span class='group-hover:text-burgundy inline text-xs sm:text-sm'>{translations.previous[lang]}</span> */}
				</>
			</button>
		</a>
	)
}

<style>
	a {
		z-index: 0;
	}
</style>
