---
import BackButton from '../../components/Buttons/BackButton.astro'
import Layout from '../../layouts/Layout.astro'
import stories from '../../data/stories.json'

// import the Image component and the image
import { Image } from 'astro:assets'

export async function getStaticPaths() {
	return stories.map((story) => ({
		params: {
			slug: story.slug,
		},
		props: {
			story,
		},
	}))
}

// Define props
const { story } = Astro.props
---

<Layout dark title='The Yemen Listening Project' header={true} switchViewButtons={false}>
	<div class='w-full max-w-5xl mx-auto mt-2 sm:mt-12 lg:mt-16 mb-8 sm:mb-24 px-4' class='story-detail-page--wrapper' id='story-wrapper'>
		<BackButton />
		<h1 class='pt-1 sm:pt-0 text-left w-full font-serif lg:text-5xl lg:pt-7'>{story.title}</h1>
		<p class='text-xl mb-6 sm:mb-10'>{story.subheading}</p>
		<Image
			quality={50}
			src={`/downloaded_images/${story.image.fileName}`}
			width={story.image.width}
			height={story.image.height}
			decoding='async'
			loading='lazy'
			alt={`${story.title}`}
			class='w-full'
		/>
		<p set:html={story.body} class='text-xl pt-2' />
	</div>
</Layout>

<style is:global>
	body {
		background: black;
	}

	body * {
		color: white;
	}

	.story-w a {
		color: white;
	}

	#story-wrapper * {
		text-align: left;
	}

	#story-wrapper code {
		display: none;
	}
</style>

<script define:vars={{ slug: story.slug }}>
// Add article slug to array of read articles in lStorage

// Retrieve the read articles array from localStorage or initialize a new one
let readArticles = JSON.parse(localStorage.getItem('readArticles')) || []

// Check if the current article's slug is not in the array
if (!readArticles.some((article) => article.slug === slug)) {
	// Create an object with the current article's slug and the current timestamp
	const articleObject = {
		slug: slug,
		timestamp: new Date().toISOString(),
	}

	// Add the object to the read articles array
	readArticles.push(articleObject)

	// Save the updated array back to localStorage
	localStorage.setItem('readArticles', JSON.stringify(readArticles))
}
</script>
