---
import { translations } from '../data/translations'

export interface Props {
	name: string
	age?: string
	from?: string
	livingIn?: string
	lang: string
}

const { lang, name, age, from, livingIn } = Astro.props as Props
---

<p class='mt-0' dir={`${lang === 'ar' ? 'rtl' : 'ltr'}`}>
	<span class='font-bold'>{name && name !== '' ? 'name' : translations.nameUnknown[lang]}</span>
	{age ? `, ${age} ${translations.yearsOld[lang]}` : ``}{from ? `, ${translations.from[lang].toLowerCase()} ${from}` : ``}
</p>

<!-- {
	name && (
		<section>
			<table class='table-fixed prose w-full text-sm sm:text-lg'>
				<tbody>
					{name && (
						<tr>
							<td>{translations.name[lang]}</td>
							<td>{name}</td>
						</tr>
					)}
					{age && (
						<tr>
							<td>{translations.age[lang]}</td>
							<td>{age}</td>
						</tr>
					)}
					{from && (
						<tr>
							<td>{translations.from[lang]}</td>
							<td>{from}</td>
						</tr>
					)}
					{livingIn && (
						<tr>
							<td>{translations.livingIn[lang]}</td>
							<td>{livingIn}</td>
						</tr>
					)}
				</tbody>
			</table>
		</section>
	)
} -->

<style>
	strong {
		font-weight: bold;
	}
</style>
