---
// import HeaderLogo from './HeaderLogoSimple.astro'
import Pergament from './Pergament.astro'
import Logo from './Logo.astro'

let { lang } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}

const navWrapperClasses = 'flex flex-row items-center justify-center gap-x-2 sm:gap-x-5 w-full z-50'
const navContainerClasses = 'flex flex-col text-right items-center sm:items-center gap-x-5'
const navButtonClasses = 'text-white font-bold text-base sm:text-xl hover:text-white transition-colors cursor-pointer hover:underline'
---

<div
	id='menu-overlay'
	class='flex flex-col top-0 left-0 w-full h-screen h-screen-ios bg-black items-center justify-center cursor-pointer p-5 sm:p-8 z-50 gap-y-5 sm:gap-y-8'
	transition:persist
>
	<div class='flex mt-5 sm:mt-0 justify-center sm:justify-center items-center sm:top-5 left-0 w-full'>
		<div class='flex flex-col gap-5 sm:gap-8 items-center justify-center'>
			<div class='w-56 sm:w-80 md:w-96 h-auto'><Logo /></div>

			<div class={navWrapperClasses}>
				{
					lang === 'ar' ? (
						<nav class={navContainerClasses}>
							<a href='/about' class={navButtonClasses}>
								AR About this project
							</a>
							<a href='/feedback' class={navButtonClasses}>
								AR Give us feedback
							</a>
							<a href='/share' class={navButtonClasses}>
								AR Another link
							</a>
						</nav>
					) : (
						<nav class={navContainerClasses}>
							<a href='/about' class={navButtonClasses}>
								About this project
							</a>
							<a href='/feedback' class={navButtonClasses}>
								Give us feedback
							</a>
							<a href='/share' class={navButtonClasses}>
								Another link
							</a>
						</nav>
					)
				}
			</div>
		</div>
	</div>

	<section class='flex flex-col z-50 cursor-default'>
		<div class='w-full'>
			<Pergament lang='en' classNames='p-4 text-black h-full rounded-xs min-h-[40vh] max-h-[60vh]' overflowY={'auto'}>
				<div>
					<h2 class='text-white font-sans font-bold tracking-tight text-3xl text-left'>Where Yemenis talk, and the world listens</h2>
					<p class='text-white'>
						The people planning and funding wars, devising aid plans, and trying to negotiate peace all too often fail to talk to the people living
						at the centre of it all.
					</p>
					<p class='text-white'>
						Long before Gaza hit the headlines, the term “world’s worst humanitarian crisis” often referred to Yemen. Its devastating war and
						economic collapse, which began nine years ago, has left hundreds of thousands of people dead from violence, disease, starvation, and a
						lack of healthcare. Tens of millions more have been caught up in Yemen’s conflict, but its story has mostly been told by journalists,
						aid groups, and politicians. Until now.
					</p>
					<p class='text-white'>
						What has it really been like to live through all this? To find out, The Yemen Listening Project asked Yemenis one question: “How has the
						war impacted your life?”
					</p>
					<p class='text-white'>
						More than 100 Yemenis ​​– from inside the country and across the world – answered. They sent emails and WhatsApp messages, voice notes,
						videos, poems, and pictures.
					</p>
					<p class='text-white'>
						They include testimonies of loss, life in exile, and what it is like to live through bombing and ground battles. But there are also
						tales of love, family connection, and personal and professional persistence in the face of impossible-seeming obstacles.
					</p>
					<p class='text-white'>
						When Yemen does make the news, it's too often reduced to faceless narratives. Close this window for a look into the lives behind the
						headlines, and to listen to Yemenis as they tell their stories, in their own words, in Arabic and English.
					</p>
					<p class='text-white italic'>
						*The New Humanitarian cannot independently verify the details of each individual story. They have been edited for style, length, and
						clarity.
					</p>
				</div>
			</Pergament>
		</div>
	</section>

	{
		lang === 'ar' ? (
			<div class='absolute -top-1 left-6 w-8 h-8 cursor-pointer hover:text-burgundy transition-colors menu-close-button z-50'>
				<svg class='fill-current' width='100%' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'>
					<path
						class='fill-current'
						fill-rule='evenodd'
						clip-rule='evenodd'
						d='M1.84937 1.84937C4.02123 -0.317302 7.53683 -0.317302 9.7087 1.84937L44.6674 36.8134L79.626 1.84937C81.7979 -0.317302 85.3135 -0.317302 87.4854 1.84937C89.652 4.02123 89.652 7.53683 87.4854 9.7087L52.5214 44.6674L87.4854 79.626C89.652 81.7979 89.652 85.3135 87.4854 87.4854C85.3135 89.652 81.7979 89.652 79.626 87.4854L44.6674 52.5214L9.7087 87.4854C7.53683 89.652 4.02123 89.652 1.84937 87.4854C-0.317302 85.3135 -0.317302 81.7979 1.84937 79.626L36.8134 44.6674L1.84937 9.7087C-0.317302 7.53683 -0.317302 4.02123 1.84937 1.84937Z'
					/>
				</svg>
			</div>
		) : (
			<div class='absolute -top-1 right-6 w-8 h-8 cursor-pointer hover:text-burgundy transition-colors menu-close-button z-50'>
				<svg class='fill-current' width='100%' height='90' viewBox='0 0 90 90' fill='none' xmlns='http://www.w3.org/2000/svg'>
					<path
						class='fill-current'
						fill-rule='evenodd'
						clip-rule='evenodd'
						d='M1.84937 1.84937C4.02123 -0.317302 7.53683 -0.317302 9.7087 1.84937L44.6674 36.8134L79.626 1.84937C81.7979 -0.317302 85.3135 -0.317302 87.4854 1.84937C89.652 4.02123 89.652 7.53683 87.4854 9.7087L52.5214 44.6674L87.4854 79.626C89.652 81.7979 89.652 85.3135 87.4854 87.4854C85.3135 89.652 81.7979 89.652 79.626 87.4854L44.6674 52.5214L9.7087 87.4854C7.53683 89.652 4.02123 89.652 1.84937 87.4854C-0.317302 85.3135 -0.317302 81.7979 1.84937 79.626L36.8134 44.6674L1.84937 9.7087C-0.317302 7.53683 -0.317302 4.02123 1.84937 1.84937Z'
					/>
				</svg>
			</div>
		)
	}

	<div class='hover:underline cursor-pointer font-bold menu-close-button hover:text-burgundy'>Close</div>
</div>

<style>
	#menu-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.85);
		transition: opacity 0.5s;
		visibility: hidden;
		opacity: 0;
		/* z-index: 9999; */
	}
	.menu-close-button {
		pointer-events: auto;
	}

	.menu-close-button:active {
		pointer-events: none;
	}
</style>
