---
import NewGrid from '@components/grid/NewGrid.astro'
import StoryList from '@components/StoryList.astro'
import StoryListLegacy from '@components/StoryListLegacy.astro'
import TagsHeader from '@components/tags/TagsHeader.astro'
import TagsFooter from '@components/tags/TagsFooter.astro'
import ReactStoryList from '@components/react/StoryListReact.jsx'
import { translations } from '@data/translations.js'

const { stories, tags, view, lang } = Astro.props

const readInOtherLanguage = translations.readIn[lang]
const otherLanguageLink = lang === 'ar' ? '/legacy/en' : '/legacy/ar'
---

{
	view === 'grid' && (
		<>
			{/* Story grid view */}
			<div class={`stories-container--grid`} id='stories-container--grid'>
				<NewGrid stories={stories} />
			</div>
		</>
	)
}

{
	view === 'list' && (
		<>
			{/* Story list view */}
			<div class={`stories-container--list mt-[8rem] lg:mt-20 pt-0 sm:py-5`} id='stories-container--list'>
				<div class='fixed top-0 left-0 w-screen h-screen -z-1 pointer-events-none' id='stars' />
				<div id='city' class='top-0 left-0 fixed w-full h-full -z-1' />
				<div class='hidden sm:block'>
					<ReactStoryList client:load stories={stories} lang={lang} />
				</div>
				<div class='block sm:hidden'>
					<StoryList stories={stories} id='list' />
				</div>
			</div>
		</>
	)
}

{
	view === 'tags' && (
		<>
			{/* Story list view */}
			<div class={`stories-container--tags mt-16 sm:mt-20`} id='stories-container--tags'>
				<div class='fixed top-0 left-0 w-screen h-screen -z-1 pointer-events-none' id='stars' />
				<div id='city' class='top-0 left-0 fixed w-full h-full z-[3]' />
				<div class='w-full text-center'>
					<slot name='top' />
				</div>
				<TagsHeader tags={tags} />
				<StoryList stories={stories} id='tags' />
				<TagsFooter tags={tags} />
			</div>
		</>
	)
}

{
	view === 'legacy' && (
		<div class='mt-7 max-w-5xl mx-auto'>
			<div class='text-white p-5 text-sm'>
				<p class='text-center opacity-90' dir="ltr">
					<strong>Please note:</strong>
					<br />
					You are seeing a simplified version of this website as your browser doesn't support all the features of The Yemen Listening Project.
				</p>

				<a href={otherLanguageLink} class='block py-2 text-white text-center'>
					<span class='text-white text-sm opacity-80'>{readInOtherLanguage}</span>
				</a>
			</div>

			<StoryListLegacy stories={stories} id='tags' />
		</div>
	)
}

<style is:global>
	header {
		position: fixed;
		z-index: 9999 !important;
	}

	.stories-container--grid {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 5555;
		overflow: hidden;
	}

	#city {
		z-index: 10;
	}

	#stars {
		/* z-index: 1; */
		background: transparent;
		/* Add the blur effect */
		filter: blur(3px);
		-webkit-filter: blur(3px);
	}

	/* Classes and keyframe animations for stars */
	@keyframes STAR {
		0% {
			background: powderblue;
			height: 1px;
			width: 1px;
			box-shadow: 0px 0px 10px white;
		}

		10% {
			background: #b0e5de;
		}

		20% {
			background: #b0e5cc;
		}

		30% {
			background: #cce5b0;
		}

		40% {
			background: #dae5b0;
		}

		50% {
			background: #e5ddb0;
			width: 4px;
			height: 4px;
			box-shadow: 0px 0px 10px #d3bd3d;
		}

		100% {
			width: 1px;
			height: 1px;
			background: powderblue;
			box-shadow: 0px 0px 10px white;
		}
	}

	@keyframes pulse {
		0% {
			background: powderblue;
			height: 1px;
			width: 1px;
			box-shadow: 0px 0px 10px white;
		}

		10% {
			background: #b0e5de;
		}

		20% {
			background: #b0e5cc;
		}

		30% {
			background: #cce5b0;
		}

		40% {
			background: #dae5b0;
		}

		50% {
			background: #e5ddb0;
			width: 4px;
			height: 4px;
			box-shadow: 0px 0px 10px #d3bd3d;
		}

		100% {
			width: 1px;
			height: 1px;
			background: powderblue;
			box-shadow: 0px 0px 10px white;
		}
	}

	.star {
		z-index: -1;
		height: 1px;
		width: 1px;
		border-radius: 5px;
		box-shadow: 0px 0px 10px white;
		background: powderblue;
		position: absolute;
	}

	.star.pulse {
		z-index: 10;
	}

	.star.pulse.one {
		-webkit-animation: STAR 1s infinite;
		animation: STAR 1s infinite;
		-moz-animation: STAR 1s infinite;
	}

	.star.pulse.two {
		-webkit-animation: STAR 2s infinite;
		animation: STAR 2s infinite;
		-moz-animation: STAR 2s infinite;
	}

	.star.pulse.three {
		-webkit-animation: STAR 3s infinite;
		animation: STAR 3s infinite;
		-moz-animation: STAR 3s infinite;
	}

	.star.pulse.four {
		-webkit-animation: STAR 4s infinite;
		animation: STAR 4s infinite;
		-moz-animation: STAR 4s infinite;
	}

	.star.pulse.five {
		-webkit-animation: STAR 5s infinite;
		animation: STAR 5s infinite;
		-moz-animation: STAR 5s infinite;
	}
</style>

<script define:vars={{ view }}>
	document.addEventListener('DOMContentLoaded', () => {
		if (view === 'tags' || view === 'legacy') return
		localStorage.setItem('currentView', view)
	})
</script>
