---
import StoryGrid from '../components/StoryGrid.astro'
import StoryList from '../components/StoryList.astro'
import TagsHeader from '../components/TagsHeader.astro'
import TagsFooter from '../components/TagsFooter.astro'

const { stories, tags, view } = Astro.props
---

{
	!view && (
		<>
			{/* Story grid view */}
			<div class={`stories-container--grid`} id='stories-container--grid'>
				<StoryGrid stories={stories} />
			</div>

			{/* Story list view */}
			<div class={`stories-container--list mt-[8rem] lg:mt-20 pt-0 sm:py-12`} id='stories-container--list bg-black'>
				<StoryList stories={stories} />
			</div>
		</>
	)
}

{
	view === 'tags' && (
		<>
			{/* Story list view */}
			<div class={`stories-container--list mt-16 sm:mt-20`} id='stories-container--list'>
				<TagsHeader tags={tags} />
				<StoryList stories={stories} />
				<TagsFooter tags={tags} />
			</div>
		</>
	)
}

<style is:global>
	header {
		position: fixed;
		z-index: 9999 !important;
	}

	.stories-container--grid {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 5555;
		overflow: hidden;
	}
</style>
