---
import Header from '@components/header/Header.astro'
import MenuOverlay from '@components/menu/MenuOverlay.astro'
// import ReplacementSwap from 'astro-vtbot/components/ReplacementSwap.astro'
import GoogleTagManager from '@components/GoogleTagManager.astro'

import '@styles/tailwind.css'
import '@styles/global.css'

export interface Props {
	filterButtons?: boolean
	languageButtons?: object
	switchViewButtons?: boolean
	dark?: boolean
	header?: boolean
	title?: string
	dir?: string
	overflow?: string
}

const { filterButtons, languageButtons, dark, header, title, switchViewButtons, dir } = Astro.props as Props
let { lang } = Astro.params

if (!lang) {
	// Read path parameters for language and slug
	const { path } = Astro.params

	const pathParams = path?.toString().split('/')
	lang = pathParams?.[0] || 'en'
}

const isProd = import.meta.env.PROD
---

<!doctype html>
<html lang='en' dir={lang === 'ar' ? 'rtl' : 'ltr'}>
	<head>
		<!-- GA4 -->
		{isProd && <GoogleTagManager partytown={true} measurementId='G-CN7NT4K7P4' />}
		<!-- End GA4 -->

		<!-- Wisepops -->
		<!-- <script data-cfasync='false'>
			;(function (w, i, s, e) {
				window[w] =
					window[w] ||
					function () {
						;(window[w].q = window[w].q || []).push(arguments)
					}
				window[w].l = Date.now()
				s = document.createElement('script')
				e = document.getElementsByTagName('script')[0]
				s.defer = 1
				s.src = i
				e.parentNode.insertBefore(s, e)
			})('wisepops', 'https://wisepops.net/loader.js?v=2&h=kcb6dfpU9E')
		</script> -->
		<!-- End Wisepops -->

		<!-- Todo: Change meta tags using Drupal tags before publication  -->
		<slot name='seo' />
		<!-- GOOGLE TAG MANAGER -->
		<!-- <GoogleTagManager measurementId='GTM-T5C2M82' /> -->
		<!-- END GTM -->

		<!-- <ReplacementSwap /> -->
	</head>
	<body>
		<!-- Header  -->
		{header && <Header dark={dark} filterButtons={filterButtons} languageButtons={languageButtons} switchViewButtons={switchViewButtons} />}
		<!-- Main content -->
		<slot />
		<!-- Menu overlay -->
		<MenuOverlay />
		<!-- Footer  -->
		<!-- No footer set -->
	</body>
</html>

<style is:global lang={'scss'}>
  html[dir='ltr'] {
    /* Styles for left-to-right direction */
  }

  html[dir='rtl'] * {
    text-align: right;
    &.text-center {
      text-align: center;
    }
  }

  body {
    background: black;
		/* background-image: url('https://assets.thenewhumanitarian.org/s3fs-public/styles/responsive_large/public/2023-06/night-sky-overlay_0.png.webp'); */
		background-size: cover;
    background-position: center;
		background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #city, #overlay-city {
		z-index: -1;
    background-color: transparent;
		background-image: url('https://assets.thenewhumanitarian.org/s3fs-public/styles/responsive_large/public/2023-06/night-sky-overlay_0.png.webp');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
     /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
	}

	@media screen and (max-width: 640px) {
		#city, #overlay-city {
			background-position: bottom center;
      filter: blur(2px);
      -webkit-filter: blur(2px);
		}
	}
</style>
